.offer-wrapper{
    display: flex;
    font-size: larger;
    justify-content: space-evenly;
}
.offer-1{
    border: 3px solid yellow;
    background-color: white;
    height: 650px;
    border-radius: 10px;
}
body{
    background-color: rgb(59, 56, 56);
}
.offer-2{
    border: 3px solid silver;
    background-color: white;
    border-radius: 10px;
}
.offer-3{
    border: 3px solid lightskyblue;
    background-color: white;
    border-radius: 10px;
}
.offer-1-title{
    font-size: larger;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}
.offer-2-title{
    font-size: larger;
    background-color: lightgray;
    text-align: center;
     padding: 10px;
}
.offer-3-title{
    font-size: larger;
    background-color: lightgray;
    text-align: center;
     padding: 10px;
}