form{
    background-color: rgb(122, 243, 203);
    padding: 10px;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
marquee{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first{
    color:blanchedalmond;
}
.second{
    color: aqua;
}
dt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
dd{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(https://www.google.com/imgres?q=Jurassic%20Park%20and%20creations%20acid%2087&imgurl=https%3A%2F%2Fstatic.wikia.nocookie.net%2Fjurassicpark%2Fimages%2F7%2F72%2FAsset_87.png%2Frevision%2Flatest%3Fcb%3D20250509071603&imgrefurl=https%3A%2F%2Fjurassicpark.fandom.com%2Fwiki%2FAsset_87&docid=Litxz0NlqIq1CM&tbnid=vLYM926B3aYCZM&vet=12ahUKEwiyxeWO4-6OAxX-l4kEHULUOcgQM3oECBIQAA..i&w=929&h=768&hcb=2&ved=2ahUKEwiyxeWO4-6OAxX-l4kEHULUOcgQM3oECBIQAA);
}